# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: "ClearMap Solutions"
email: brigesh@clearmapusa.com
description: >- # this means to ignore newlines until "baseurl:"
  Unlock the power of GIS using ClearMap Solutions
url: ""
minimal_mistakes_skin: default
logo: "assets/images/ClearMap Logo.png"
masthead_title: ""

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes

include:
  - _pages

atom_feed:
  hide: true

# Plugins (previously gems:)
plugins:
  - jekyll-include-cache
  - jekyll-sitemap
  - jekyll-seo-tag

author:
  name   : Brigesh Patel
  # avatar : "/assets/images/bio-photo.jpg"
  bio    : GIS specialist


defaults:
  # Home page
  - scope:
      path: ""
      type: home
    values:
      layout: single
      author_profile: false

  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: false

  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: false
